body
{
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  background-color: red;
}
#nvbar
{
    background-color: #4682B4;
}

#nvbar .header_li_text
{
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-right: 4px;
}

#nvbar .fas
{
    font-size: 20px;
    margin-left: 8px;
}

#nvbar .dropdown-menu
{
    background-color: #4682B4;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#nvbar .dropdown-menu a
{
    color: white;
}

#listaHd
{
    margin-left: 75%;
}



#buscador
{
    position: relative;
    margin-top: 20%;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    height: 10%;
}



#buscador input
{
    font-size: 100%;
    padding: 10%;
    min-height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 120px;
    border-width: 0px;
    background-color:white;
    font-weight: bold;
}



#buscador button
{
  font-size: 100%;
  padding: 2%;
    width: 40%;
    height: 20%;
    position: relative;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    border-width: 0px;
    background-color: #4682B4;
    color: white;
}
